<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Hello React!</title>
    <script src="../../bower_components/react/react.js"></script>
    <script src="../../bower_components/react/react-dom.js"></script>
    <script src="https://unpkg.com/babel-core@5.8.38/browser.js"></script>
    <script src="../../dist/app.js"></script>
</head>
<body>
<div id="example"></div>
<script type="text/babel">
    var studentList = ["Ravindu", "Thuvaraka", "Senuri", "Harin"];
    ReactDOM.render(
            <div>
                <h2>Student Component</h2>
                <window.Student name="TTT">
                </window.Student>,

                <h2>Sub Component of Student Component</h2>
                <window.IITStudent name="TTT">
                </window.IITStudent>

                <h2>Student List</h2>
                {studentList.map(function (studentName, index) {
                    return (<window.Student key={index} name={studentName}>
                    </window.Student>)
                })}
            </div>,
            document.getElementById('example')
    );
</script>
</body>
</html>